.details-sec {
    background: linear-gradient(180deg, #307e6c, #2b996d);
    margin: 10px 400px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.details-sec form {
    padding: 150px;
}
.input-field label {
    font-size: 10px;
    color: white;
    padding-bottom: 3px;
    text-transform: uppercase;
}
.input-field {
    display: grid;
    justify-content: space-between;
    padding: 20px;
}

.input-field input {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    height: 35px;
    padding: 10px;
    color: whitesmoke;
    font-size: 18px;
}