body {
    /* background-color: rgb(247, 230, 80); */
    background-color: rgb(150, 150, 10);
    
}

header {
    text-align: center;
    align-items: center; /* Align items vertically in the center */
    margin: 20px; /* Add some spacing */
    font-style: italic;
} 

header h1 {
    font-size: 3rem;
}

header img {
    width: 10%;
    padding-bottom: 20px;
    filter: brightness(100%);
}

.game-container {
    margin: 5% 25%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
}

.players {
    color: bisque;
    padding: 10px 30px;
}

.players ol {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 40px 0px 10px 0px ;
    gap: 30px;
}

.players ol li {
    width: 100%;
}

.players-info {
    display: flex;
    padding: 10px;
}

.players-info-active {
   border: 1px solid gold;
}
.player-name, .player-symbol {
    font-size: 25px;
}
.player-detail {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.player-detail input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid greenyellow;
    width: 120px;
    height: 25px;
    color: wheat;
    text-align: center;
    font-size: 20px;
}

.player-detail input:focus {
    border-bottom: 1px solid greenyellow;
    outline: none;
}

li .player-button {
    font-size: 18px;
    border-style: none;
    background-color: transparent;
    text-align: center;
    color: bisque;
    margin-right: 30px;
}

.game{
    padding: 10px 50px;
    
}

.game-sets {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin: 10px 40px 20px 25px;
    list-style-type: none;
}

.game-set {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    width: 100%;
    margin: 10px 40px 20px 40px;
    list-style-type: none;
}

.game-data{
    background-color: gray;
    color: white;
    height: 100px;
    width: 120px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    box-sizing: border-box;
}

.game-data button{
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 4rem;
    padding: 10px;
    color: black;
    width: 100px;
    height: 100px;
    font-weight: bold;
}

.game-data:hover{
    background-color: wheat;
}

.game-data-active{
    pointer-events: none; 
    cursor: not-allowed;  
}
.game-table{
    border-spacing: 30px;
    width: 100%;
    align-items: center;
}