.log-container {
    padding: 35px;
}

.log-table{
    border-spacing: 15px;
    padding: 0px 350px;
    width: 100%;
    text-align: center;
}

.log-table thead {
    color: #83e6c0;
    font-size: 14px;
    border-spacing: 10px;
}

.log-table tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
    color: #c2e9e0;
}